.header{
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
}

.logo-container {
    padding: 10px;
    width: 140px;
}

.logo{
    width: 100%;
}

.nav-item-container {
    text-align: center;
}

.nav-items > ul { 
    display: flex;
    list-style-type: none;
    box-sizing: border-box;
}

.nav-items > ul > li {
    box-sizing: border-box;
    width: 120px;
    padding: 0 5% 0 5%;
}

.search{
    padding: 10px;
}

.restaurant-card {
    margin: 5px;
    padding: 5px;
    width: 200px;
    background-color: #f0f0f0;
    border: 1px solid transparent;
}

.restaurant-card:hover{
    border: 1px solid black;
}

.restaurant-card-image {
    width: 100%;
}

.restaurant-container {
    justify-content: flex-start;
    display: flex;
    flex-wrap: wrap;
}